@import url('https://fonts.googleapis.com/css?family=Lobster');

header{
	border:0px;
	box-sizing: border-box;
	color: white;
	font-family: 'Lobster', cursive;
	text-align: center;
	background: #228B22;
}
body{
	margin: 0px;
	/*background-image: url("../img/verde.jpg");*/
	background-color: #32CD32;
}
input{
	padding: 10px 20px;
	padding: 20px;
	background-color: #F0FFFF;
	display: block;
}
h1{
	padding-bottom: 40px;
	padding-top: 40px;
	background:#228B22;
}
button{
	border-radius: 9px;
    padding: 10px 15px;
    background-color:	#228B22;	
}
div.añadir2#guardar{
	
	background-color: white;
}
.tablero{
	display: inline-block;
	background-color: #DCDCDC;
	margin: 20px;
	padding: 15px;
}
#div1{
	margin-left: 20px;
	padding: 10px 10px;
	padding: 20px;
	padding-top: 16px;
	background-color: #DCDCDC;
	display: inline-block;
}
.tablaf{
	background-color: #DCDCDC;
	margin: 20px;
	padding: 15px;
	display: inline-block;
}
#texto{
	background-color: #F0FFFF;
	display: block;
	margin-bottom: 10px;
}
#botonIni.anadir{
	margin-left: 20px;
}